*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   /* background: linear-gradient(45deg, #8e2de2, #ff00ff); */
   background: linear-gradient(to top right,#C4CEDB,#f2a7b7,#C4CEDB)
}

.jokeContainer{
    width:80%;
    margin: 12rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, .3);
    padding: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .3);
    border-radius: 15px;
    width: 85%;
    /* text-align: center; */
    color: darkgreen;
}
h1{
    text-decoration: underline;

}

p{
    font-size: 25px;
    font-weight: 500;
}

.btn{
   
    font-size: 18px;
    font-weight: 700;
    width: 300px;
    color: darkgreen;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    padding: 15px;
    border: none;
    cursor: pointer;
    transition: box-shadow ease  0.7s;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    
}

.btn:hover{
    
    box-shadow: 0px 4px 2px darkgreen;
}